/* .text-center{
    text-align: center;
}
.footer-container{
    background-color: pink;
    color: white;
} */
/* .footer{
    background: wheat;

}
.footer .footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem , 1fr));
    gap: 1.5rem;
} */
/* .footer .footer-container.box h3{
font-size: 2.5rem;
color: antiquewhite;
padding: 1rem 0;
}
.footer .footer-container.box h3 i{
    color:rebeccapurple;
}
.footer .footer-container.box links{
    display: block;
    font-size: 2.5rem;
    color: black;
    padding: 1rem 0;
}
.footer .footer-container.box links i{
   color: aqua;
   padding-right: .5rem;
}
.footer .footer-container.box links:hover i{
    padding-right: 2rem;
 }
.footer .footer-container.box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 1rem 0;
}   
.footer .footer-container.box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-left: .2rem;
    background: #eee;
}
.footer .footer-container.box .share a:hover{
    background: orange;
    color: #eee;
}
.footer.footer-container.box.email{
    margin: .7rem 0;
    padding: 1 rem;
    background: #eee;

} */
/* .footer.credit{
    text-align: center;
    margin-top: 2rem; 
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: orange;
    border-top: #eee;
}
.footer.credit span{
    color: orange;
} */
.footer-top{
    padding: 50px 0 20px;
    border-top: 1px solid var black;
}
.footer-item{
    margin:0 0 30px;
}
.footer-item h3{
    text-transform: capitalize;
    margin: 0 0 20px;
}
.footer-item .footer-logo{
    color: aqua;
    text-transform: uppercase;
}
.footer-item .footer-logo span{
    color: rgb(24, 62, 109);
}
.banner-section{
    padding:  80px 0;
    min-height: 680px;
}